@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab:400,700&subset=latin-ext");
@-webkit-keyframes spin-logo {
  0% {
    -webkit-transform: perspective(500px) rotate(0deg) rotate3d(0, 1, 0, 0);
    transform: perspective(500px) rotate(0deg) rotate3d(0, 1, 0, 0); }
  100% {
    -webkit-transform: perspective(500px) rotate(360deg) rotate3d(0, 1, 0, 360deg);
    transform: perspective(500px) rotate(360deg) rotate3d(0, 1, 0, 360deg); } }
@keyframes spin-logo {
  0% {
    -webkit-transform: perspective(500px) rotate(0deg) rotate3d(0, 1, 0, 0);
    transform: perspective(500px) rotate(0deg) rotate3d(0, 1, 0, 0); }
  100% {
    -webkit-transform: perspective(500px) rotate(360deg) rotate3d(0, 1, 0, 360deg);
    transform: perspective(500px) rotate(360deg) rotate3d(0, 1, 0, 360deg); } }

.wrapper {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  overflow: hidden; }
  .wrapper .top-container {
    background-color: #fff;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    padding-left: 4rem;
    padding-right: 4rem; }
    .wrapper .top-container .navbar {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 1000px;
      height: 115px;
      margin: 0 auto; }
      .wrapper .top-container .navbar .navbar__logo {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer; }
        .wrapper .top-container .navbar .navbar__logo__logo-img {
          width: 35px;
          height: 35px;
          padding: 6px; }
        .wrapper .top-container .navbar .navbar__logo__logo-text {
          font-size: calc(18rem / 16);
          font-weight: 700;
          text-transform: uppercase;
          color: #555555; }
        .wrapper .top-container .navbar .navbar__logo:hover .navbar__logo__logo-img {
          -webkit-animation: spin-logo 2s ease 1 both;
          animation: spin-logo 2s ease 1 both; }
      .wrapper .top-container .navbar .navbar__nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        .wrapper .top-container .navbar .navbar__nav .navbar__nav__element {
          font-size: calc(14rem / 16);
          color: #777777;
          font-weight: 400;
          text-transform: uppercase; }
          .wrapper .top-container .navbar .navbar__nav .navbar__nav__element a {
            display: block;
            padding: calc(15rem / 16) calc(7.5rem / 16);
            margin: 0 calc(7.5rem / 16); }
            .wrapper .top-container .navbar .navbar__nav .navbar__nav__element a::after {
              content: "";
              display: block;
              width: 100%;
              margin: 0 auto;
              height: 1px;
              -webkit-box-shadow: 0 0 1px 0 #777;
              box-shadow: 0 0 1px 0 #777;
              margin-top: 0.2rem;
              background-color: #777777;
              -webkit-transform: translateX(-150%);
              -ms-transform: translateX(-150%);
              transform: translateX(-150%);
              opacity: 0;
              -webkit-transition: .3s;
              -o-transition: .3s;
              transition: .3s; }
          .wrapper .top-container .navbar .navbar__nav .navbar__nav__element:last-child {
            margin-right: 0; }
          .wrapper .top-container .navbar .navbar__nav .navbar__nav__element:hover ::after {
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
            opacity: .5; }
  .wrapper .header {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 115px;
    height: 530px;
    background-image: url("/img/Background.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover; }
    .wrapper .header::before {
      position: absolute;
      top: 0;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.75; }
    .wrapper .header .header__content {
      position: absolute;
      width: 650px;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      color: #fff; }
      .wrapper .header .header__content .slogan {
        margin: 120px 0 40px;
        font-size: calc(60rem / 16);
        font-weight: 700;
        text-align: center;
        line-height: calc(65rem / 16);
        text-transform: uppercase; }
      .wrapper .header .header__content .p-style {
        font-family: "Roboto Slab", sans-serif;
        font-size: calc(20rem / 16);
        color: #ccc;
        font-weight: 400;
        letter-spacing: -0.5px;
        margin-bottom: 55px; }
      .wrapper .header .header__content .cta-button {
        font-size: 1rem;
        color: #fff;
        padding: calc(23rem / 16) calc(36rem / 16);
        -webkit-border-radius: calc(30rem / 16);
        border-radius: calc(30rem / 16);
        background-color: #7cc576;
        font-weight: 700;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
        letter-spacing: -0.37px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 120px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .wrapper .header .header__content .cta-button:hover {
          background-color: #477e42; }
  .wrapper .services {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1000px;
    margin: 80px auto;
    text-align: center;
    background-color: #fff; }
    .wrapper .services__title {
      margin-bottom: 85px; }
      .wrapper .services__title__header {
        font-size: calc(40rem / 16);
        font-weight: 700;
        color: #222222;
        text-transform: uppercase;
        letter-spacing: -2px;
        line-height: calc(75rem / 16); }
      .wrapper .services__title .p-style {
        font-family: "Roboto Slab", sans-serif;
        font-size: calc(20rem / 16);
        color: #777;
        font-weight: 400;
        letter-spacing: -0.5px; }
    .wrapper .services__features {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 90%;
      margin: 0 auto; }
      .wrapper .services__features .feature {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
        align-content: space-between;
        margin-right: 55px; }
        .wrapper .services__features .feature:last-child {
          margin-right: 0; }
        .wrapper .services__features .feature .picture {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          width: 55px;
          height: 55px;
          margin: 0 auto; }
          .wrapper .services__features .feature .picture img {
            display: block; }
        .wrapper .services__features .feature .desctription h3 {
          color: #222222;
          font-size: calc(18rem / 16);
          padding: 27px 0;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: -0.45px; }
        .wrapper .services__features .feature .desctription .p-style {
          font-family: "Roboto Slab", sans-serif;
          font-size: calc(14rem / 16);
          color: #777;
          font-weight: 400;
          letter-spacing: -0.35px; }
  .wrapper .about {
    position: relative;
    width: 100%;
    height: 616px;
    background-color: #e9e9e9; }
    .wrapper .about__left {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(calc(-500rem / 16), -50%);
      -ms-transform: translate(calc(-500rem / 16), -50%);
      transform: translate(calc(-500rem / 16), -50%);
      padding-bottom: 80px; }
    .wrapper .about__right {
      z-index: 0;
      position: absolute;
      right: 0;
      width: calc(100% - ((100% - 1000px) / 2) - 194.5px);
      height: 100%;
      background-image: url("/img/background1.jpg");
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      background-size: cover;
      overflow: hidden; }
      .wrapper .about__right::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.75; }
      .wrapper .about__right__description {
        position: absolute;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        width: 50%;
        margin: calc(100rem / 16) 0 calc(100rem / 16) calc(100rem / 16); }
        .wrapper .about__right__description h3 {
          color: #ffffff;
          font-size: 40px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: -2px;
          margin-bottom: 40px; }
          .wrapper .about__right__description h3 .amper {
            color: #7cc576;
            letter-spacing: -2px;
            white-space: initial; }
          .wrapper .about__right__description h3 .break-line {
            display: block; }
        .wrapper .about__right__description .p-style {
          font-family: "Roboto Slab", sans-serif;
          font-size: 1rem;
          color: #ccc;
          font-weight: 400;
          letter-spacing: -0.5px; }
          .wrapper .about__right__description .p-style__margin-bottom {
            margin-bottom: 25px; }
        .wrapper .about__right__description ul {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-align-content: flex-start;
          -ms-flex-line-pack: start;
          align-content: flex-start; }
          .wrapper .about__right__description ul li {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            margin-bottom: 20px; }
            .wrapper .about__right__description ul li img {
              padding-right: 20px; }
        .wrapper .about__right__description .cta-button {
          font-size: 1rem;
          color: #fff;
          padding: calc(23rem / 16) calc(36rem / 16);
          -webkit-border-radius: calc(30rem / 16);
          border-radius: calc(30rem / 16);
          background-color: #7cc576;
          font-weight: 700;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
          letter-spacing: -0.37px;
          text-align: center;
          text-transform: uppercase;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
          .wrapper .about__right__description .cta-button:hover {
            background-color: #477e42; }
  .wrapper .portfolio {
    padding-top: 80px;
    overflow: hidden; }
    .wrapper .portfolio__title {
      -webkit-flex-basis: 100vw;
      -ms-flex-preferred-size: 100vw;
      flex-basis: 100vw;
      color: #222222;
      font-family: "Montserrat", sans-serif;
      font-size: calc(40rem / 16);
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: -2px;
      text-align: center;
      margin-bottom: 10px; }
    .wrapper .portfolio .p-style {
      font-family: "Roboto Slab", sans-serif;
      font-size: calc(20rem / 16);
      color: #777;
      font-weight: 400;
      letter-spacing: -0.5px;
      text-align: center;
      margin-bottom: 70px; }
    .wrapper .portfolio__wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      max-width: 1000px;
      margin: 0 auto; }
      .wrapper .portfolio__wrapper .portfolio__content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
        .wrapper .portfolio__wrapper .portfolio__content .content1 h3 {
          color: #222222;
          font-family: "Montserrat", sans-serif;
          font-size: calc(18rem / 16);
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: -0.45px;
          margin-bottom: 26px; }
        .wrapper .portfolio__wrapper .portfolio__content .content1 .portfolio__p-style {
          font-family: "Roboto Slab", sans-serif;
          font-size: 1rem;
          color: #777;
          font-weight: 400;
          letter-spacing: -0.4px;
          margin-bottom: 24px; }
        .wrapper .portfolio__wrapper .portfolio__content .content2 ul {
          margin-bottom: 15px; }
          .wrapper .portfolio__wrapper .portfolio__content .content2 ul li {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 10px 0; }
            .wrapper .portfolio__wrapper .portfolio__content .content2 ul li img {
              display: block;
              padding-right: 20px; }
            .wrapper .portfolio__wrapper .portfolio__content .content2 ul li .li__text-box h3 {
              color: #222222;
              font-family: Montserrat;
              font-size: 18px;
              font-weight: 700;
              letter-spacing: -0.45px; }
            .wrapper .portfolio__wrapper .portfolio__content .content2 ul li .li__text-box .li__p-style {
              font-family: "Roboto Slab", sans-serif;
              font-size: 1rem;
              color: #777;
              font-weight: 400;
              letter-spacing: -0.4px; }
        .wrapper .portfolio__wrapper .portfolio__content .content3__p-style {
          font-family: "Roboto Slab", sans-serif;
          font-size: 1rem;
          color: #777;
          font-weight: 400;
          letter-spacing: -0.4px;
          margin-bottom: 25px; }
        .wrapper .portfolio__wrapper .portfolio__content .content3 a {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center; }
          .wrapper .portfolio__wrapper .portfolio__content .content3 a h3 {
            color: #7cc576;
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: -0.4px;
            padding-right: 10px; }
          .wrapper .portfolio__wrapper .portfolio__content .content3 a img {
            display: block; }
      .wrapper .portfolio__wrapper .portfolio__img {
        width: 50%; }
  .wrapper .value-wrapper {
    background-color: #f9f9f9;
    padding: 80px 0;
    height: 560px; }
    .wrapper .value-wrapper .value {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 1000px;
      text-align: center;
      margin: 0 auto; }
      .wrapper .value-wrapper .value .value__title {
        margin-bottom: 85px; }
        .wrapper .value-wrapper .value .value__title .value__title__header {
          font-size: calc(40rem / 16);
          font-weight: 700;
          color: #222222;
          text-transform: uppercase;
          letter-spacing: -2px;
          line-height: calc(75rem / 16); }
        .wrapper .value-wrapper .value .value__title__p-style {
          font-family: "Roboto Slab", sans-serif;
          font-size: calc(20rem / 16);
          color: #777;
          font-weight: 400;
          letter-spacing: -0.5px; }
      .wrapper .value-wrapper .value__features {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto; }
        .wrapper .value-wrapper .value__features .value__feature {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-align-content: space-between;
          -ms-flex-line-pack: justify;
          align-content: space-between;
          margin-right: 55px; }
          .wrapper .value-wrapper .value__features .value__feature:last-child {
            margin-right: 0; }
          .wrapper .value-wrapper .value__features .value__feature .value__picture {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            width: 91px;
            height: 91px;
            margin: 0 auto; }
            .wrapper .value-wrapper .value__features .value__feature .value__picture img {
              display: block; }
          .wrapper .value-wrapper .value__features .value__feature .value__desctription h3 {
            color: #222222;
            font-size: calc(18rem / 16);
            padding: 27px 0;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: -0.45px; }
          .wrapper .value-wrapper .value__features .value__feature .value__desctription .value__p-style {
            font-family: "Roboto Slab", sans-serif;
            font-size: calc(14rem / 16);
            color: #777;
            font-weight: 400;
            letter-spacing: -0.35px;
            width: 100%; }
  .wrapper .reviev-wrapper .reviev {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto; }
    .wrapper .reviev-wrapper .reviev__title {
      margin-bottom: 85px; }
      .wrapper .reviev-wrapper .reviev__title__header {
        font-size: calc(40rem / 16);
        font-weight: 700;
        color: #222222;
        text-transform: uppercase;
        letter-spacing: -2px;
        line-height: calc(75rem / 16); }
      .wrapper .reviev-wrapper .reviev__title__p-style {
        font-family: "Roboto Slab", sans-serif;
        font-size: calc(20rem / 16);
        color: #777;
        font-weight: 400;
        letter-spacing: -0.5px; }
  .wrapper .reviev-wrapper .reviev__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: calc(900rem / 16);
    margin-bottom: 40px; }
    .wrapper .reviev-wrapper .reviev__content__circle {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: calc(220rem / 16);
      height: calc(220rem / 16);
      background-color: #f9f9f9;
      -webkit-border-radius: 50%;
      border-radius: 50%; }
      .wrapper .reviev-wrapper .reviev__content__circle .first-client-face {
        width: 180px;
        height: 180px; }
      .wrapper .reviev-wrapper .reviev__content__circle .second-client-face {
        width: 180px;
        height: 180px;
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        transform: scaleX(-1); }
    .wrapper .reviev-wrapper .reviev__content__text-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: calc(650rem / 16);
      height: calc(170rem / 16);
      background-color: #f9f9f9;
      padding: 40px 50px; }
      .wrapper .reviev-wrapper .reviev__content__text-container .reviev-text {
        font-family: "Roboto Slab", sans-serif;
        font-size: calc(22rem / 16);
        color: #777;
        font-weight: 400;
        letter-spacing: 0px; }
      .wrapper .reviev-wrapper .reviev__content__text-container .reviev-name {
        font-family: "Roboto Slab", sans-serif;
        font-size: calc(18rem / 16);
        color: #7cc576;
        font-weight: 400;
        letter-spacing: 0px; }
    .wrapper .reviev-wrapper .reviev__content .rev-content1 {
      -webkit-transform: translateX(25%);
      -ms-transform: translateX(25%);
      transform: translateX(25%);
      height: 25px; }
    .wrapper .reviev-wrapper .reviev__content .rev-content2 {
      -webkit-transform: translateX(-25%) rotate(180deg);
      -ms-transform: translateX(-25%) rotate(180deg);
      transform: translateX(-25%) rotate(180deg);
      height: 25px; }
  .wrapper .cta-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 70px 20px;
    background-color: #7cc576; }
    .wrapper .cta-section__title {
      color: #ffffff;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-size: calc(40rem / 16);
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: -2px;
      margin: 30px; }
    .wrapper .cta-section__cta-button {
      font-size: 1rem;
      color: #fff;
      padding: calc(23rem / 16) calc(36rem / 16);
      -webkit-border-radius: calc(30rem / 16);
      border-radius: calc(30rem / 16);
      background-color: #7cc576;
      font-weight: 700;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
      letter-spacing: -0.37px;
      text-align: center;
      text-transform: uppercase;
      border: 3px solid white;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      text-align: center;
      padding: 15px 30px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .wrapper .cta-section__cta-button:hover {
        background-color: #477e42; }
  .wrapper .client-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 60px; }
    .wrapper .client-logo .client-logop {
      height: 40px;
      margin: 0 20px; }
  .wrapper .top-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 60px 20px;
    background-color: #222; }
    .wrapper .top-footer__column {
      width: 300px; }
      .wrapper .top-footer__column__h3 {
        margin-bottom: 30px;
        color: #ffffff;
        font-family: Montserrat;
        font-size: calc(18rem / 16);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.45px; }
      .wrapper .top-footer__column__ul .top-footer__li-element {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 20px; }
        .wrapper .top-footer__column__ul .top-footer__li-element .img-container {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          width: 25px;
          margin-right: 15px; }
          .wrapper .top-footer__column__ul .top-footer__li-element .img-container img {
            display: block; }
        .wrapper .top-footer__column__ul .top-footer__li-element p {
          font-family: "Roboto Slab", sans-serif;
          font-size: 16px;
          color: #ececec;
          font-weight: 400;
          letter-spacing: 0;
          line-height: 22px; }
          .wrapper .top-footer__column__ul .top-footer__li-element p .li-element__span-adress {
            display: block; }
          .wrapper .top-footer__column__ul .top-footer__li-element p .hashtag {
            display: block;
            font-weight: bold; }
          .wrapper .top-footer__column__ul .top-footer__li-element p .post-time {
            font-size: 12px; }
    .wrapper .top-footer__column-contact {
      margin-right: 40px; }
      .wrapper .top-footer__column-contact .top-footer__column__ul .top-footer__li-element:first-child {
        -webkit-box-align: start;
        -webkit-align-items: start;
        -ms-flex-align: start;
        align-items: start; }
    .wrapper .top-footer__column-posts {
      margin-right: 40px; }
    .wrapper .top-footer__column-tweets .top-footer__column__ul .top-footer__li-element {
      -webkit-box-align: start;
      -webkit-align-items: start;
      -ms-flex-align: start;
      align-items: start; }
  .wrapper .bottom-footer {
    display: inline-grid;
    width: 100%;
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
    grid-template-areas: "copyright social .";
    padding: 30px; }
    .wrapper .bottom-footer__copyright {
      grid-area: copyright;
      justify-self: center;
      align-self: center;
      color: #555555;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -0.35px; }
    .wrapper .bottom-footer__contact-icons {
      grid-area: social;
      justify-self: center;
      align-self: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .wrapper .bottom-footer__contact-icons__img-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 40px;
        height: 40px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-color: #222;
        margin: 0 5px; }
        .wrapper .bottom-footer__contact-icons__img-container img {
          display: block; }
