[data-aos="custom"] {
  transform: translateZ(-100px);
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    transform: translateZ(0);
    opacity: 1;
  }
}

[data-aos] {

  body[data-aos-easing="custom-easing"] &,
  &[data-aos][data-aos-easing="custom-easing"] {
    transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  }
}