@media only screen and (min-width: 1920px) {

  // TODO hamburger menu i js slider and select viewed menu
  // .top-container {}
  .header {
    .header__content {
      padding: 80px 30px;

      .slogan {
        margin-bottom: 40px;
        font-size: $f-xl-mq;
        line-height: 65px;
      }

      .p-style {
        font-size: $f-m-mq;
        margin-bottom: 55px;
      }
    }

    .cta-button {
      font-size: 16px;
      padding: 23px 26px;
    }
  }

  .services {
    padding: 80px 30px;

    &__title {
      margin-bottom: 85px;

      &__header {
        font-size: $f-l-mq;
      }

      &__p-style {
        font-size: $f-m-mq;
      }
    }

    &__features {
      .feature {
        margin-right: 55px;
      }

      .decription {
        &__title {
          font-size: $f-l-mq;
        }

        &__p-style {
          font-size: $f-xs-mq;

        }
      }
    }
  }

  .about {


    &__left {
      width: 710px;
    }

    &__right {

      &__description {
        padding: 80px 80px 80px 80px;

        h2 {
          font-size: $f-l-mq;
        }

        .p-style {
          font-size: $f-m-mq;
          //TODO with 100 % na media 650px
        }

        &__ul {
          .li__p-style {
            font-size: $f-m-mq;
          }
        }
      }

      .cta-button {
        font-size: 16px;

      }

    }
  }

  // .portfolio {}

  .value-wrapper {
    background-color: #f9f9f9;

    .value {
      padding: 80px 30px;

      &__title {
        margin-bottom: 85px;

        &__header {
          font-size: $f-l-mq;
        }

        &__p-style {
          font-size: $f-m-mq;
        }
      }

      &__features {

        .value__feature {
          margin-right: 55px;


          .value__desctription {
            &__title {
              font-size: $f-m-mq;
            }

            .value__p-style {
              font-size: $f-xs-mq;
            }
          }
        }
      }
    }
  }

  // .reviev {}

  // .cta-section {}

  // .client-logo {}

  // .top-footer {}

  // .bottom-footer {}
}


@media only screen and (max-width:650px) {
  // TODO hamburger menu i js slider and select viewed menu
  // .top-container {}

  .services {
    &__features {
      flex-direction: column;
      align-items: center;

      .feature {
        margin: 0 0 30px 0;
        margin-right: 0;

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  .about {

    &__left {
      display: none;
    }

    &__right {
      width: 100%;

      &__description {
        .p-style {
          width: 100%;
          text-align: justify;
        }
      }

      .cta-button {
        margin: 0 auto;
      }
    }
  }

  // .portfolio {}

  .value-wrapper {
    .value {
      &__features {
        flex-direction: column;
        align-items: center;

        .value__feature {
          margin: 0 0 30px 0;
          margin-right: 0;

          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }

  // .reviev {}

  // .cta-section {}

  // .client-logo {}

  // .top-footer {}

  // .bottom-footer {}
}