@mixin cta-button {
    font-size: 1rem;
    color: #fff;
    padding: calc(23rem / 16) calc(36rem / 16);
    border-radius: calc(30rem / 16);
    background-color: #7cc576;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    letter-spacing: -0.37px;
    text-align: center;
    text-transform: uppercase;
}

@mixin p-style ($fz, $fc, $ls) {
    font-family: $font-description;
    font-size: $fz;
    color: $fc;
    font-weight: 400;
    letter-spacing: $ls;
}