// font
$font-title: 'Montserrat',
sans-serif;
$font-description: 'Roboto Slab',
sans-serif;
// font size
$f-xl: calc(60rem / 16);
$f-l: calc(40rem / 16);
$f-l-m: calc(22rem / 16);
$f-m: calc(20rem / 16);
$f-s: calc(18rem / 16);
$f-xs: calc(14rem / 16);